.example-slide-container {
    padding: 30px 20px;
    text-align: center;
  }
  
  .example-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .example-block {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .example-label {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 12px;
    font-family: 'Acme', sans-serif;
  }
  
  .example-img {
    width: 100%;
    max-width: 500px;
    height: 500px;
    border-radius: 1rem;
  }
  
  
  .slide-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .slide-btn {
    padding: 10px 24px;
    background-color: #000000;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .slide-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .slide-btn:hover:not(:disabled) {
    background-color: #000000;
  }
  