.terms-page{
  min-height:100vh;
  background:#f4f0d7;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.terms-card{
  background:white;
  max-width:420px;
  padding:25px;
  border-radius:14px;

  box-shadow:
  0 12px 25px rgba(0,0,0,0.15),
  0 5px 12px rgba(0,0,0,0.08);

  overflow-y:auto;
}

.terms-title{
  font-size:28px;
  text-align:center;
  margin-bottom:15px;
  font-family:'Concert One', serif;
}

.terms-intro{
  font-size:14px;
  margin-bottom:15px;
  color:#444;
  line-height:24px;
}

.terms-section{
  margin-bottom:14px;
}

.terms-section h3{
  font-size:16px;
  margin-bottom:5px;
}

.terms-section p{
  font-size:14px;
  line-height:22px;
  color:#333;
}

.terms-footer{
  margin-top:15px;
  font-size:12px;
  text-align:center;
  color:#777;
}