@import url(https://fonts.googleapis.com/css?family=Freckle+Face:regular);
@import url(https://fonts.googleapis.com/css?family=Platypi:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

.sketchy-header {
  position: fixed; /* Make it fixed */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: black;
  color: white;
  font-family: "Platypi", cursive;
}

.back-button {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-family: "Freckle Face", cursive;
}

.header-title {
  font-size: 30px;
  margin: 0;
  padding: 0;
}
